@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');
body {
	background-color: #BEB4DA;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px;
	color: green;
}
div {
	padding: 20px;
}
p {background-color: pink;}
ol { list-style-type:<!-- look i know how to do this but i dont wana i like it like this please dont hurt me i have a wife 2 kids and uh a toilet --> ;
}
hr  {
		height: 1242px;
}
	#adonis {
			background-color: black;
}
		
#mortal {
font-family: 'Walter Turncoat', cursive;	
}
